/* Common styling for the Example skin */

@import "variables.less";

// nodeview
.nodeview{
	margin-top : 4em;
}
// Page layout
.parent_holder{
	display: flex;
	align-items: center;
	justify-content: center;
}
.parent_root{
	display: table-cell;
	color: white;
	height: 2em;
	line-height: 2em;
	margin: 0.5em;
	padding: 0.1em;
	background: navy;
	text-align: center;
	vertical-align: middle;
}
.siblings_holder{
	display: flex;
	align-items: center;
  	justify-content: center;
}
.siblings{
	display: table-cell;
	color: white;
	height: 3em;
	line-height: 3em;
	margin: 0.5em;
	padding: 0.1em;
	background: rgb(4, 156, 194);
	text-align: center;
	vertical-align: middle;
}

.pagepreview_holder{
	display: flex;
	align-items: center;
  	justify-content: center;

	text-overflow :scroll;
	width: 100%;
}

.pagefullview_holder{
	display: flex;
	align-items: center;
  	justify-content: center;

	text-overflow :scroll;
	width: 100%;
}

.editpageview_holder{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;  
}

.editpreview{
	background: green;
	color: white;
	height: 3em;
	margin: 0.2em;
	cursor: pointer; 
}
.submitedit{
	background: green;
	color: white;
	height: 3em;
	margin: 0.2em;
	cursor: pointer; 
}

.children_holder{
	display: flex;
	align-items: center;
  	justify-content: center;
}

.editor{
	display: flex;
	flex-direction: column;
	align-items: center;
	  justify-content: center;
	  width: 50%;
}

.edittoolbar{
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}

.child{
	color: white;
	height: 2em;
	line-height: 2em;
	margin: 0.5em;
	padding: 0.2em;
	background: navy;
	text-align: center;
	vertical-align: middle;
}

.pagetools_holder{
	display: flex;
	flex-direction: row-reverse;
}

.fullview{
	background: red;
	height: 1em;
	margin: 0.2em;
	cursor: pointer; 
}
.edit{
	background: red;
	height: 1em;
	margin: 0.2em;
	cursor: pointer; 
}

#mw-wrapper {
	max-width: @width;
	margin: 0 auto;
	position: relative;
	padding: 1em;
}

#p-logo {
	text-align: center;
	width: 10em;
	float: right;

	// Make logo image visible
	// The class sets the background image from $wgLogo, but we still need to give it a size in order to show up
	a.mw-wiki-logo {
		display: block;
		content: '';
		width: 10em;
		height: 10em;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

.mw-body {
	position: relative;
	word-wrap: break-word;
	top: 1em;
}

// Some content stuff
.firstHeading {
	margin-top: 0;
	color: blue;
}

// parent
.parent{
	margin-top: 0;
	color: white;
	background: green;
}

.mw-indicators {
	float: right;
	margin: 1.5em 0 0 1em;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

.center,
.center * {
	margin: auto;
	text-align: center;
}

// Splatter the menus and tools at the bottom
#footer,
#page-tools,
#p-personal {
	margin: 1em 0;

	ul {
		list-style-type: none;
		margin: 0;
	}

	li {
		padding-right: 1em;
		display: inline-block;
	}
}

#page-tools .mw-portlet {
	display: inline-block;
	margin: auto;
}

#mw-navigation {
	margin: 1em 0;
}

// Footer
#footer {
	clear: both;
	border-top: 1px solid @border;

	ul {
		margin-top: 1em;
	}
}

#footer-icons {
	float: right;
	margin: 0 0 1em 1em;
}

// hidden stuff
#page-tools h3,
#p-search h3,
#p-personal h3 {
	.hidden;
}

// nav
.nav {
	display: flex;
	justify-content: center;
    align-items: center;
	border-bottom: 5em;
	font-weight: 300;
	padding: 0.2em;
	background-color: #0f7fff;
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	height: 8%;
	z-index: 1;
	position: fixed;
}

// user-tools
.user-tools{
	color: white;
}
