/* Common styling for the Example skin */

@import "variables.less";

// nodeview
.nodeview{
	margin-top : 4em;
}
// Page layout
.parent_holder{
	display: flex;
	align-items: center;
	justify-content: center;
}
.parent_root{
	display: table-cell;
	color: white;
	height: 2em;
	line-height: 2em;
	margin: 0.5em;
	padding: 0.1em;
	background: navy;
	text-align: center;
	vertical-align: middle;
	cursor: pointer; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.siblings_holder{
	display: flex;
	flex-wrap: nowrap;
  	overflow-x: auto;
}
.siblings{
	flex: 0 0 auto;
	overflow-x: auto;
	color: white;
	height: 3em;
	line-height: 3em;
	margin: auto;
	border: 0.5em solid white;
	padding: 0.1em;
	background: rgb(4, 156, 194);
	text-align: center;
	vertical-align: middle;
	cursor: pointer; 
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pagepreview_holder{
	position: relative;
	display: flex;
	align-items: center;
  	justify-content: center;

	text-overflow :scroll;
	width: 90%;
	left: 5%;
}

.pagefullview_holder{
	position: relative;
	display: flex;
	align-items: center;
  	justify-content: center;

	text-overflow :scroll;
	width: 90%;
	left: 5%;
}

.editpageview_holder{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;  
	flex: 1;
}

.editpreview{
	background: green;
	color: white;
	height: 3em;
	margin: 0.2em;
	cursor: pointer; 
}
.submitedit{
	background: green;
	color: white;
	height: 3em;
	margin: 0.2em;
	cursor: pointer; 
}

.children_holder{
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	align-items: stretch;

}

.child{
	justify-content: space-evenly;

	flex: 0 0 auto;
	flex-wrap: nowrap;
	color: white;
	height: 2em;
	line-height: 2em;
	margin: auto;
	border: 0.5em solid white;
	padding: 0.2em;
	background: navy;
	text-align: center;
	vertical-align: middle;
	cursor: pointer; 
	max-width:100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editor{
	display: flex;
	flex-direction: column;
	align-items: center;
	  justify-content: center;
	  flex-grow: 1;
    flex-basis: 0;
}

.instantpreview{
	  flex-grow: 1;
    flex-basis: 0;
}

hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
  }


.edittoolbar{
	display: flex;
	flex-direction: row;
	align-items: center;
  	justify-content: center;
}



.pagetools_holder{
	display: flex;
	flex-direction: row-reverse;
}

.fullview{
	color: white;
	background: red;
	height: 1em;
	margin: 0.2em;
	cursor: pointer; 
}
.edit{
	color: white;
	background: red;
	height: 1em;
	margin: 0.2em;
	cursor: pointer; 
}

#mw-wrapper {
	max-width: @width;
	margin: 0 auto;
	position: relative;
	padding: 1em;
}

#p-logo {
	text-align: center;
	width: 10em;
	float: right;

	// Make logo image visible
	// The class sets the background image from $wgLogo, but we still need to give it a size in order to show up
	a.mw-wiki-logo {
		display: block;
		content: '';
		width: 10em;
		height: 10em;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}
}

.mw-body {
	position: relative;
	word-wrap: break-word;
	top: 1em;
}

// Some content stuff
.firstHeading {
	margin-top: 0;
	color: blue;
}

// parent
.parent{
	margin-top: 0;
	color: white;
	background: green;
}

.mw-indicators {
	float: right;
	margin: 1.5em 0 0 1em;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
}

.center,
.center * {
	margin: auto;
	text-align: center;
}

// Splatter the menus and tools at the bottom
#footer,
#page-tools,
#p-personal {
	margin: 1em 0;

	ul {
		list-style-type: none;
		margin: 0;
	}

	li {
		padding-right: 1em;
		display: inline-block;
	}
}

#page-tools .mw-portlet {
	display: inline-block;
	margin: auto;
}

#mw-navigation {
	margin: 1em 0;
}

// Footer
#footer {
	clear: both;
	border-top: 1px solid @border;

	ul {
		margin-top: 1em;
	}
}

#footer-icons {
	float: right;
	margin: 0 0 1em 1em;
}

// hidden stuff
#page-tools h3,
#p-search h3,
#p-personal h3 {
	.hidden;
}

// nav
.nav {
	display: flex;
	justify-content: center;
    align-items: center;
	border-bottom: 5em;
	font-weight: 300;
	padding: 0.2em;
	background-color: #0f7fff;
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	height: 8%;
	z-index: 1;
	position: fixed;
}

// user-tools
.user-tools{
	color: white;
	margin: 0.5em;
}


// sidebar
.sidebar {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 9%;
	right: 0;
	background-color: white; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
  
  /* The sidebar links */
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: black;
	display: block;
	transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidebar a:hover {
	color: grey;
  }
  
  /* The button used to open the sidebar */
  .openbtn {
	cursor: pointer;
	background-color: #0f7fff;
	color: white;
	padding: 0.1em;
	border: none;
	right: 1%;
	position:absolute; 
  }
  
  .openbtn:hover {
	background-color: #0f7fff;
  }

  .home{
   	position:absolute; 
	left: 1%;
	color: white;
  }

  .nav > a{
	  color: white;
	  text-decoration:none
  }
  