<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42336031-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-42336031-2');
    </script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/toolbox_dd.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/jquery-ui.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/jquery-ui.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/JSRootGeoPainter.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/JSRootGeoPainter.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/JSRootPainter.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style/JSRootPainter.css') }}">


    <script src="{{ url_for('static', filename='dist/scripts/JSRootCore.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/scripts/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/scripts/OrbitControls.js') }}"></script>

    <script id="MathJax-script"
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>

    <script src="{{ url_for('static', filename='dist/scripts/CCapture.all.min.js') }}"> </script>

    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"> </script>

</head>

<body>
     
    {% block javascript %}
        <script>
            let data = {{ data | safe }}
            window.init(data); 
            
        </script>
    {% endblock %}

    <script> 
        
    </script> 
</body>
</html>